{% extends "base.html.twig" %}


{% block title %}Mes demandes{% endblock %}


{% block body %}
    <h1>Mes demandes</h1>


{% for uneDemande in demandes %}

<div class="card">
  <div class="card-header">
plop
  </div>
  <div class="card-body">
    <div class="float-left">
      15-12-2016
      16-02-2019
    </div>
    <div class="float-right">
    <button class="btn btn-primary"onclick="affiche()">Plus de détails</button>

    </div>
    <div class="hidden">
    ford fiesta
    <button class="btn btn-primary" onclick="masque()">Masquer</button>

    </div>
  </div>
</div>



{% endfor %}


{% endblock %}
