{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {% include '@FullCalendar/Calendar/calendar.html.twig' %}

</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/locale/fr.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		setCalendar("{{ path('fullcalendar_load_events') }}");
	});
	</script>
{% endblock %}