<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'css.html.twig' %}
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="border-top-0 fixed-top rounded-top border-top align-top">
            {% include 'top_menu.html.twig' %}
        </header>

        <div class="clearHeader"></div>

        {% block body %}{% endblock %}

        <footer class="affichageMobile border-bottom-0 fixed-bottom rounded-bottom border-bottom align-bottom">
            {% include "bot_menu.html.twig" %} 
        </footer>
        {% include 'js.html.twig' %}
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
