<form method="post" action="{{ path('cle_delete', {'idcle': cle.idcle}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cle.idcle) }}">
    <button class="btn">Delete</button>
</form>
