<form method="post" action="{{ path('pays_delete', {'idpays': pay.idpays}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pay.idpays) }}">
    <button class="btn">Delete</button>
</form>
