.card a{
  color:#777 !important;
  cursor: pointer !important;
}
.card a:hover{
  text-decoration: underline !important;
}
.valide{
  color: #39B76C;
}
.refuse{
  color: orange;
}
.encour{
  color: #3498db;  
}
.labeldate>label{
  color: #39B76C;
  min-width: 77px;
}
.labeldate{
  display: block;
}
.ville{
  font-weight:700;
  text-transform: uppercase;
}
