{% extends 'base.html.twig' %}

{% block title %}Modifier ces informations{% endblock %}

{% block body %}
    <div class="container">
        {{ include('@App/user/_formUpdate.html.twig') }}
    </div>
{% endblock %}