{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ include('@App/user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="btn btn-default">back to list</a>
{% endblock %}
