<form method="post" action="{{ path('etatvehicule_delete', {'idetat': etatvehicule.idetat}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etatvehicule.idetat) }}">
    <button class="btn">Delete</button>
</form>
